extends layout

block content
    img.position-absolute(src='https://picsum.photos/1550/800', alt='Responsive image')
    .col-3.row
        img.ml-5.mt-5(src='https://picsum.photos/100/100', alt='logo')
        p.logo-text umeå
